<div id="learn">
  <div class="top-header white">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <h1>Learn more about this tool</h1>
        </div>
        <div class="col-sm-5">
          <a class="btn pull-right green hover-orange" ui-sref="new-presentation">New presentation</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-sm-12">
          <div class="learn-main white">
            <img src="/static/images/learn-placeholder.jpg" />
          </div>
      </div>
    </div>
  </div>

</div>