/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/

$black:             #424141;
$light-background:  #f3f3f5;
$white:             #fff;
$green:             #22B573;
$orange:            #f9af48;
$red:               #F15A24;
$dark-red:          #bd0e13;
$dark-green:        #006837;
$light-grey:        #BFBDBD;
$dark-grey:         #6a6969;
$light-blue:        #29ABE2;
$dark-blue:         #2988E2;
$link-orange:       #f59231;
$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$font-color:        #515151;

$border-radius:     10px;

$link-color:        $white;
$link-hover:        $link-orange;
