<div id="displays">
  <div class="top-header white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>My displays</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="orange no-overflow">
    <div class="row">
      <div class="col-sm-12">
        <a class="btn dark-grey btn-padding-50 pt21 hover-dark-orange btn-add-display" ui-sref="new-display">
          Add Displays
        </a>
      </div>
    </div>
    <div class="displays-wrapper">
      <ul class="displays-in-list" dnd-list="vm.displays">
        <li
        class="display-in-list text-center"
        ng-repeat="(key, display) in vm.displays"
        data-drop="true" 
        data-jqyoui-options="{revert: 'invalid'}"  
        ng-model="vm.displays[key]['presentation']"
        jqyoui-droppable>
          <img src="/static/images/display-placeholder.png" />
          <div class="display-name">{{display.name}}</div>
          <div ng-show="display.presentation" class="presentation">
            <div class="presentation__name">
              {{ display.presentation.name }}
            </div>
            <div class="presentation__meta">
              Last updated: {{display.presentation.updated_at | date:"dd/MM/yyyy"}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container" ng-cloak ng-show="vm.displays.length">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h1>Drag and drop presentations onto displays</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul dnd-list="vm.projects">
          <li
            class="col-sm-6 col-md-3" 
            dir-paginate="presentation in vm.presentations | itemsPerPage: 4" 
            pagination-id="presentations"
            data-drag="true" 
            data-jqyoui-options="{revert: 'invalid', deepCopy: true, animate: true, helper:'clone'}" 
            ng-model="presentation" 
            jqyoui-draggable="{placeholder:'keep'}">
            <presentation presentation="presentation"></presentation>
          </li>
        </ul>
      </div>
    
        <div class="col-sm-12 no-presentations-here" ng-hide="vm.presentations.length">
          <em>The are no presentations here.</em>
        </div>

        <div class="col-xs-12 text-center-not-xs">
          <dir-pagination-controls pagination-id="presentations"></dir-pagination-controls>
        </div>
    </div>
  </div>
</div>



