<div id="slide-wysiwyg">
    <div 
        class="slide-{{key}} hide slide" 
        ng-repeat="(key, value) in vm.presentation.slide_set" 
        style="background-color: {{value.slideContent.backgroundColor}};">
        
        <div class="top-header block-box-shadow">
            <img 
                class="top-header-image" 
                src="/static/images/minbuza.png" 
                width="180px" 
                height="auto" />

        </div>

        <div class="rsr-slide" ng-if="value.source == 'rsr'">

            <img 
                ng-src="{{vm.getImageUrl(value, 'mainImage')}}" 
                ng-if="vm.hasImageUrl(value, 'mainImage')" 
                class="background-image">

            <div 
                class="header animated block block-box-shadow bounceInLeft" 
                ng-style="value.slideContent.title.cssStyle"
                ng-if="value.slideContent.title.text.length">
                {{value.slideContent.title.text}}
            </div>

            <div 
                class="subheader textarea block block-box-shadow animated bounceInLeft"
                ng-style="value.slideContent.subtitle.cssStyle"
                ng-if="value.slideContent.subtitle.text.length">
                {{value.slideContent.subtitle.text}}
            </div>

            <div 
                class="description textarea block block-box-shadow animated bounceInLeft" 
                ng-style="value.slideContent.project_plan_summary.cssStyle"
                ng-if="value.slideContent.project_plan_summary.text.length">
                {{value.slideContent.project_plan_summary.text}}
            </div>
            
            <img 
                class="main-image animated bounceInLeft" 
                ng-src="{{vm.getImageUrl(value, 'rsrImage')}}" 
                ng-if="vm.hasImageUrl(value, 'rsrImage')">

            <div class="rsr-front-slide">

                <div 
                    class="block block-box-shadow date-block start-date animated bounceInLeft"
                    ng-if="value.slideContent.date_start_planned.length">
                    <div class="block-header">Start date</div>
                    <span class="block-text">{{value.slideContent.date_start_planned | date:'dd MMM yyyy' }}</span>
                </div>

                <div 
                    class="block block-box-shadow date-block end-date animated bounceInLeft"
                    ng-if="value.slideContent.date_end_planned.length">
                    <div class="block-header">End date</div>
                    <span class="block-text">{{value.slideContent.date_end_planned | date:'dd MMM yyyy' }}</span>
                </div>

                <div 
                    class="block block-box-shadow goal-block animated bounceInLeft"
                    ng-if="value.slideContent.goals_overview.text.length">
                    <div class="block-header">GOALS</div>
                    <div 
                        class="goals textarea" 
                        ng-style="value.slideContent.goals_overview.cssStyle">
                        {{value.slideContent.goals_overview.text}}
                    </div>
                </div>

            </div>

            <div class="rsr-back-slide hide">

                <div 
                    class="block block-box-shadow funding-partner-block animated bounceInRight"
                    ng-if="value.slideContent.partners.text.length">
                    <div class="block-header">Partners</div>
                    <div
                        class="textarea"
                        ng-style="value.slideContent.partners.cssStyle">
                            {{value.slideContent.partners.text}}
                    </div>
                </div>

                <div 
                    class="block block-box-shadow location-name-block animated bounceInRight"
                    ng-if="value.slideContent.primary_location_name.text.length">
                    <div class="block-header">Location</div>
                    <span class="block-text" type="text">
                        {{value.slideContent.primary_location_name.text}}
                    </span>
                </div>

                <div 
                    class="block location-block animated bounceInRight"
                    ng-if="value.slideContent.primary_location.longitude">
                    <img 
                    ng-src="{{vm.getImageUrl(value, 'googleMapImage')}}" 
                    ng-if="vm.hasImageUrl(value, 'googleMapImage')">
                </div>

                <div 
                    class="block block-box-shadow budget-block animated bounceInRight"
                    ng-if="value.slideContent.budget.text.length">
                    <div class="block-header">Project budget</div>
                    <span class="block-text">{{value.slideContent.budget.text | iaticurrency :'€':0:".":"."  }}</span>
                </div>

                <div 
                    class="block block-box-shadow target-group-block animated bounceInRight"
                    ng-if="value.slideContent.target_group.text.length">
                    <div class="block-header">Target group</div>
                    <div 
                        class="textarea"
                        ng-style="value.slideContent.target_group.cssStyle">
                        {{value.slideContent.target_group.text}}
                    </div>
                </div>
            </div>

            <div 
                class="block updates-block animated bounceInLeft"
                ng-if="value.slideContent.rsr_updates.length">
                <div class="updates-header">
                    RECENT PROJECT UPDATES
                </div>
                <img class="presentation-arrow" src="/static/images/presentation-arrow-right.png" />

                <div class="single-update" ng-repeat="(key, rsr_update) in value.slideContent.rsr_updates">
                    <img 
                        ng-src="{{vm.getImageUrl(value, 'rsrUpdate' + (key + 1))}}" 
                        ng-if="vm.hasImageUrl(value, 'rsrUpdate' + (key + 1))" />
                    <div class="update-inner">
                        <div class="update-post-date">{{rsr_update.created_at | date:'dd MMM yyyy' }}</div>
                        <div class="update-by">by: {{rsr_update.user}}</div>
                        <div 
                            class="update-title"
                            ng-style="rsr_update.title.cssStyle">{{rsr_update.title.text}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="iati-slide" ng-if="value.source == 'iati'">

            <img 
                ng-src="{{vm.getImageUrl(value, 'mainImage')}}" 
                ng-if="vm.hasImageUrl(value, 'mainImage')"
                class="background-image">

            <div 
                class="block block-box-shadow header animated bounceInLeft" 
                ng-if="value.slideContent.title.text.length"
                ng-style="value.slideContent.title.cssStyle">
                {{value.slideContent.title.text}}
            </div>
            <div 
                class="block block-box-shadow description textarea animated bounceInLeft" 
                ng-if="value.slideContent.description.text.length"
                ng-style="value.slideContent.description.cssStyle">
                {{value.slideContent.description.text}}
            </div>
            
            <div 
                class="block block-header block-box-shadow countries-block animated bounceInLeft">
                {{value.slideContent.countries[0].name}}
                {{value.slideContent.regions[0].name}}
            </div>

            <div 
                class="block block-box-shadow type-relatie-block animated bounceInLeft"
                ng-if="value.slideContent.relatietype.length">
                <div class="block-header">Type relatie</div>
                <span class="block-text">Relatietype..</span>
            </div>

            <div 
                class="block block-box-shadow total-budget-block animated bounceInLeft"
                ng-if="value.slideContent.total_budget.length">
                <div class="block-header">Totaal budget</div>
                <span class="block-text">{{value.slideContent.total_budget | iaticurrency :'€':0:".":"." }}</span>
            </div>

            <div 
                class="block block-box-shadow date-block start-date animated bounceInLeft"
                ng-if="value.slideContent.start_actual.length">
                <div class="block-header">Start date</div>
                <span class="block-text">{{value.slideContent.start_actual  | date:'dd MMM yyyy' }}</span>
            </div>

            <div 
                class="block block-box-shadow date-block end-date animated bounceInLeft"
                ng-if="value.slideContent.end_actual.length">
                <div class="block-header">End date</div>
                <span class="block-text">{{value.slideContent.end_actual  | date:'dd MMM yyyy'}}</span>
            </div>

            <div 
                class="block block-box-shadow sectors-block animated bounceInLeft"
                ng-if="value.slideContent.sectors.text.length">
                <div class="block-header">Sector</div>
                <div class="textarea" ng-style="value.slideContent.sectors.cssStyle">
                    {{value.slideContent.sectors.text}}
                </div>
            </div>

            <div 
                class="block block-box-shadow participating-organisations-block animated bounceInLeft"
                ng-if="value.slideContent.participating_organisations.text.length">
                <div class="block-header">Participating organisations</div>
                <div class="textarea" ng-style="value.slideContent.participating_organisations.cssStyle">
                    {{value.slideContent.participating_organisations.text}}
                </div>
            </div>
        </div>
        <div class="content-slide" ng-if="value.source == 'content'">
            <img 
                ng-src="/{{value.slide_image_set[0].image_url}}" 
                ng-if="value.slide_image_set.length" 
                class="background-image">
                
            <div 
                class="header block block-box-shadow animated bounceInLeft" 
                ng-if="value.slideContent.title.text.length" 
                ng-style="value.slideContent.title.cssStyle">
                {{value.slideContent.title.text}}
            </div>
            <div 
                class="description textarea block block-box-shadow animated bounceInLeft" 
                ng-if="value.slideContent.description.text.length" 
                ng-style="value.slideContent.description.cssStyle">
                {{value.slideContent.description.text}}
            </div>
        </div>
    </div>

    <footer>
        <div id="timer">
            <div class="fill"></div>
        </div>
    </footer>

</div>