<div id="container">

    <header class="marginrow">
        <div class="row">
            <div class="small-12 columns text-center">
                <img src="/static/preview/logo_minbuza.png">
            </div>
        </div>
    </header>

    <div 
      class="slide-{{key}} hide inner" 
      ng-repeat="(key, value) in vm.presentation.slide_set" 
      style="background-color: {{value.slideContent.backgroundColor}};">

        <div ng-if="value.source == 'iati'">

            <div class="row top">
              <div class="small-12 columns">
                <div class="panel sidebar animated bounceInLeft">
                  <h1 ng-style="value.slideContent.title.cssStyle">{{value.slideContent.title.text}}</h1>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <div class="panel sidebar animated bounceInLeft">
                  <h3 class="grey" ng-style="value.slideContent.description.cssStyle">{{value.slideContent.description.text}}</h3>
                </div>
              </div>
            </div>

            <div class="row middle" data-equalizer>
              <div class="small-6 columns" data-equalizer-watch>

                <div class="row">
                  <div class="small-12 columns">
                    <div class="panel animated bounceIn p1">
                      <h2>{{value.countries[0].name}}{{value.regions[0].name}}</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-6 columns">
                    <div class="row">
                      <div class="small-12 columns">
                        <div class="panel animated bounceIn p1">
                          <h2>Type relatie</h2>
                          <h2 class="grey">Relatie</h2>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-12 columns">
                        <div class="panel animated bounceIn p1">
                          <h2>Startdatum</h2>
                          <h2 class="grey">{{vm.slide.slideContent.start_actual  | date:'dd MMM yyyy' }}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="small-6 columns">
                    <div class="row">
                      <div class="small-12 columns">
                        <div class="panel animated bounceIn p1">
                          <h2>Totaal budget</h2>
                          <h2 class="grey">{{value.slideContent.total_budget | iaticurrency :'€':0:".":"." }}</h2>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-12 columns">
                        <div class="panel animated bounceIn p1">
                          <h2>Einddatum</h2>
                          <h2 class="grey">{{value.slideContent.end_actual | date:'dd MMM yyyy'}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="small-6 columns" data-equalizer-watch>
                <div class="row">
                  <div class="small-12 columns">
                    <div class="panel bounceIn animated p3">
                      <h2>Sector</h2>
                      <h2 class="grey" ng-style="value.slideContent.sectors.cssStyle">{{value.slideContent.sectors.text}}</h2>
                    </div>
                  </div>
                  <div class="small-12 columns">
                    <div class="panel bounceIn animated p4">
                      <h2>Participating organisations</h2>
                      <h2 class="grey" ng-style="value.slideContent.participating_organisations.cssStyle">{{value.slideContent.participating_organisations.text}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div ng-if="value.source == 'rsr'">

            <div class="row top" data-equalizer>
              <div class="small-11 columns">
                <div class="panel sidebar animated bounceInLeft" data-equalizer-watch>
                  <h1 ng-style="value.slideContent.title.cssStyle">{{value.slideContent.title.text}}</h1>
                </div>
              </div>
              <div class="small-1 columns">
                <div class="twitter animated bounceInRight" data-equalizer-watch>
                  <div class="twit_inner">
                    <p>#AKVO</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row middle" data-equalizer>
              <div class="small-3 columns" data-equalizer-watch>
                <div class="row">
                  <div class="small-12 columns">
                    <div class="panel sidebar invert animated bounceIn p1">
                      <h2 ng-style="value.slideContent.subtitle.cssStyle">{{value.slideContent.subtitle.text}}</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 columns">
                    <div class="panel sidebar animated bounceIn p5">
                      <p ng-style="value.slideContent.project_plan_summary.cssStyle">{{value.slideContent.project_plan_summary.text}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="small-4 columns" data-equalizer-watch>
                <img class="animated bounceIn p2" 
                    ng-src="http://rsr.akvo.org{{value.slideContent.current_image}}" 
                    ng-show="value.slideContent.current_image">
              </div>

              <div class="rsr-back-slide small-5 columns hide" data-equalizer-watch>
                <div class="row">
                  <div class="small-6 columns">
                    <div class="panel bounceIn animated p3">
                      <h2>Start date</h2>
                      <h2 class="grey">{{value.slideContent.date_start_planned | date:'dd MMM yyyy' }}</h2>
                    </div>
                  </div>
                  <div class="small-6 columns">
                    <div class="panel bounceIn animated p4">
                      <h2>End date</h2>
                      <h2 class="grey">{{value.slideContent.date_start_planned | date:'dd MMM yyyy' }}</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 columns">
                    <div class="panel bounceIn animated p6">
                      <h2>Goals</h2>
                      <h2 ng-style="value.slideContent.goals_overview.cssStyle">{{value.slideContent.goals_overview.text }}</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="rsr-front-slide small-5 columns" data-equalizer-watch>
                <div class="row">
                  <div class="small-6 columns">
                    <div class="panel bounceIn animated p3">
                      <h2 class="small">Partners</h2>
                      <h2 class="grey small">{{value.slideContent.partners.join(', ')}}</h2>
                    </div>
                  </div>
                  <div class="small-6 columns">
                    <div class="panel bounceIn animated p4">
                      <h2 class="small">Location</h2>
                      <h2 class="grey small">{{value.slideContent.primary_location.city}}</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-6 columns">
                    <div class="row">
                      <div class="small-12 columns">
                        <div class="panel bounceIn animated pex">
                        <h2 class="small">Project budget</h2>
                        <h2 ng-style="value.slideContent.budget.cssStyle" class="grey small">{{value.slideContent.budget.text | iaticurrency :'€':0:".":"."  }}</h2>
                      </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-12 columns">
                        <div class="panel bounceIn animated p6">
                        <h2 class="small">Target Group</h2>
                        <ul class="grey" ng-style="value.slideContent.target_group.cssStyle">
                          {{value.slideContent.target_group.text}}
                        </ul>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="small-6 columns">
                    <img 
                        class="animated bounceIn p2"
                        src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=424x270&maptype=roadmap&markers=color:red%7Clabel:C%7C{{value.slideContent.primary_location.latitude}},{{value.slideContent.primary_location.longitude}}">
                  </div>
                </div>
              </div>

            </div>

            <div class="row bottom">
              <div class="small-12 columns">
                <div class="panel bounceInLeft animated">
                  <div class="row" data-equalizer>
                    <div class="small-1 columns" data-equalizer-watch>
                      <div class="table">
                        <h3 class="cell">Recent project updates</h3>
                      </div>
                    </div>
                    <div class="small-1 columns" data-equalizer-watch>
                      <img src="/static/preview/arrow.svg" class="arrow">
                    </div>
                    <div class="small-2 columns" data-equalizer-watch>
                      <div class="img-wrap">
                        <img src="http://rsr.akvo.org{{value.slideContent.rsr_updates.results[0].photo}}">
                      </div>
                    </div>
                    <div class="small-3 columns" data-equalizer-watch>
                      <p class="date">{{value.slideContent.rsr_updates.results[0].created_at | date:'dd MMM yyyy' }}</p>
                      <p class="author">by {{value.slideContent.rsr_updates.results[0].by}}</p>
                      <p>{{value.slideContent.rsr_updates.results[0].title}}</p>
                    </div>
                    <div class="small-2 columns" data-equalizer-watch>
                      <div class="img-wrap">
                        <img src="http://rsr.akvo.org{{value.slideContent.rsr_updates.results[0].photo}}">
                      </div>
                    </div>
                    <div class="small-3 columns" data-equalizer-watch>
                      <p class="date">{{value.slideContent.rsr_updates.results[1].created_at | date:'dd MMM yyyy' }}</p>
                      <p class="author">by {{value.slideContent.rsr_updates.results[1].by}}</p>
                      <p>{{value.slideContent.rsr_updates.results[1].title}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div ng-if="value.source == 'content'">
            <div class="row top">
              <div class="small-12 columns">
                <div class="panel sidebar animated bounceInLeft">
                  <h1 ng-style="value.slideContent.title.cssStyle">{{value.slideContent.title.text}}</h1>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <div class="panel sidebar animated bounceInLeft">
                  <h3 class="grey" ng-style="value.slideContent.description.cssStyle">{{value.slideContent.description.text}}</h3>
                </div>
              </div>
            </div>
        </div>

    </div>

    <footer>
        <div id="timer">
            <div class="fill"></div>
        </div>
    </footer>
</div>
