{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-utils-pagination/dirPagination.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/checklist-model/checklist-model.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-dragdrop/src/angular-dragdrop.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap-slider/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/jquery-minicolors/jquery.minicolors.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-minicolors/angular-minicolors.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/ncs.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ncs.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ncs.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ncs.filter.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/master.controller.ncs.js' %}"></script>



<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/services/djangoAuth.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/validate.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>




<script type="text/javascript" src="{% static 'javascripts/rsr/rsr.module.js' %}"></script>


<!-- <script type="text/javascript" src="{% static 'javascripts/iati/directives/countries.directive.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'javascripts/iati/directives/regions.directive.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'javascripts/iati/directives/sectors.directive.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'javascripts/iati/directives/search.directive.js' %}"></script> -->

<!-- <script type="text/javascript" src="{% static 'javascripts/iati/services/countries.service.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'javascripts/iati/services/regions.service.js' %}"></script> -->
<script type="text/javascript" src="{% static 'javascripts/rsr/services/statuses.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rsr/services/rsrProjects.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rsr/directives/statuses.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rsr/directives/search.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rsr/services/rsr.filters.selection.service.js' %}"></script>




<script type="text/javascript" src="{% static 'javascripts/presentations/presentations.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/services/presentations.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/services/slides.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/services/slideImages.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/controllers/presentations.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/controllers/new-presentation.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/controllers/edit-presentation.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/controllers/preview-presentation.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/controllers/wysiwyg.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/directives/presentation.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/directives/presentations.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/directives/iati-select.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/directives/rsr-select.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/directives/project-bar.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/presentations/directives/slide-wysiwyg.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/displays/displays.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/displays/controllers/displays.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/displays/controllers/new-display.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/displays/controllers/edit-display.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/displays/services/displays.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/users/users.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/users/controllers/users.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/iati/iati.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/directives/countries.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/directives/regions.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/directives/sectors.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/directives/budget.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/directives/search.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/iati/services/countries.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/services/regions.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/services/sectors.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/services/activities.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/iati/services/filters.selection.service.js' %}"></script>



{% endcompress %}
