<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#narrowcasting-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="narrowcasting-nav">
      <ul class="nav navbar-nav pull-left">
        {% if user.is_authenticated %}
          <li
            ng-class="{'active': vm.stateName == 'presentations'}" >
            <a class="navbar-icon icon-presentations" ui-sref="presentations"><img src="/static/images/icon-presentations.png" />Presentations</a>
          </li>
          <li 
            ng-class="{'active': vm.stateName == 'displays'}" >
            <a class="navbar-icon icon-displays" ui-sref="displays"><img src="/static/images/icon-displays.png" />Opencasting displays</a>
          </li>
          <li
            ng-class="{'active': vm.stateName == 'learn'}" >
            <a class="navbar-icon icon-learn" ui-sref="learn"><img src="/static/images/icon-learn.png" />Learn</a>
          </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
          
          <li><a class="navbar-icon" href="javascript:void(0)" ng-click="vm.logout()"><img src="/static/images/icon-signout.png" />Logout</a></li>
        {% else %}
          <li
            ng-class="{'active': vm.stateName == 'home'}" >
            <a class="navbar-icon icon-narrowcasting" ui-sref="home"><img src="/static/images/icon-presentations.png" />Home</a>
          </li>
          <li
            ng-class="{'active': vm.stateName == 'learn'}">
            <a class="navbar-icon icon-about" ui-sref="learn"><img src="/static/images/icon-learn.png" />Learn</a>
          </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
          <li><a class="btn btn-green navbar-btn-login" ui-sref="login">Sign-in</a></li>
        {% endif %}
      </ul>
    </div>
  </div> 
</nav>
