<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="ncpApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akvo Opencasting</title>

    <link href='http://fonts.googleapis.com/css?family=Chivo:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/preview/app.css">
    <script>
        var presentation_id = {{ presentation_id }};
    </script>
</head>
<body>

    <preview></preview>

    <script src="/static/preview/jquery.min.js"></script>
    <script src="/static/preview/angular.min.js"></script>
    <script src="/static/preview/modernizr.js"></script>
    <script src="/static/preview/foundation.min.js"></script>
    <script src="/static/preview/app.js"></script>

  </body>
</html>
