<div id="homepage">

    <div class="row green">
        <div class="col-md-12 text-center">
            
            <h1>START SHARING YOUR AID DEVELOPMENT PROJECTS</h1>
            <div class="hp-sub-title">Create and publish your projects instantly on narrowcasting screens.</div>

            <a class="btn btn-hp" ui-sref="learn">Start learning</a>

        </div>
    </div>

    <div class="container explanation">
        <div class="row">
            <div class="col-md-4 text-center-not-xs">
                
                <img src="/static/images/icon-hp-1.png" />
                <div class="hp-sub-title">Show the work you are proud of</div>
                <hr>
                <p>Akvo Opencast is a web-based tool that allows you to build and share stories from your RSR projects via public display screens.</p>

            </div>
            <div class="col-md-4 text-center-not-xs">

                <img src="/static/images/icon-hp-2.png" />
                <div class="hp-sub-title">Cut across the noise</div>
                <hr>
                <p>All around the globe, development organisations are opening up their information and becoming more transparent. However, in a sea of information, sometimes it’s difficult to get your message across.</p>

            </div>

            <div class="col-md-4 text-center-not-xs">
         
                <img src="/static/images/icon-hp-3.png" />
                <div class="hp-sub-title">How does AKVO Opencast work?</div>
                <hr>
                <p>It lets you combine and curate open data collections already published in Akvo RSR to make powerful, visual stories that help you engage with specific groups of people that you want to reach.</p>

            </div>
        </div>
    </div>

    <div class="row green">
        <div class="col-md-12 text-center-not-xs hp-sub-header">
            
            <h2>Where does the content come from?</h2>
            
        </div>
    </div>

    <div class="container image-hp-1">
        <div class="row">
            <div class="col-md-12 text-center-not-xs">
                <img src="/static/images/image-hp-1.png" />
                <h2>Open up and broadcast IATI activities and Akvo RSR projects to specific target groups.</h2>
                
            </div>
        </div>
    </div>

    <div class="row black hp-start-learning">
        <div class="col-md-12 text-center-not-xs">
            
            <h2>Ready to start publishing your first OPC?</h2>
            <a class="btn green btn-padding-30 pt21" ui-sref="learn">Sign-up</a>

        </div>
    </div>

</div>
