/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/****
GENERAL
****/


body{
  font-family: $chivo;
  color: $font-color;
  font-size: 15px;
  background-color: $light-background;
}

a:hover{
  text-decoration: none;
}

h1{
  margin-top: 16px;
  font-size: 28px;
  color: #BFBDBD;
}

.no-posts-here {
  text-align: center;
}

.btn{
  background-color: #424141;
  filter: alpha(opacity=87);
  border-radius: 6px 14px;
  padding: 8px;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  border-radius: $border-radius;
}



.btn-green{
  background-color: $green;
  color: $white;

  &:hover{
    background-color: $orange;
    color: $white;
  }
}

.white{
  background-color: #fff;
}

.light-blue{
  background-color: $light-blue;
  color: $white;
}

.red{
  background-color: $red;
  color: $white;
}

.green{
  background-color: $green;
  color: $white;
}

.light-grey{
  background-color: $light-grey;
  color: $white;
}

.dark-grey{
  background-color: $dark-grey;
  color: $white;
}

.dark-green{
  background-color: $dark-green;
  color: $white;
}

.black{
  background-color: $black;
  color: $white;
}

.btn-more-padding{
  padding: 8px 18px;
}

.btn-padding-30{
  padding: 5px 30px;
}

.btn-padding-50{
  padding: 5px 50px;
}

.btn-sort-by{
  margin-left: 20px;
}

.btn-drag-drop{
  margin-top: 3em;
  margin-bottom: 2em;

  &:hover{
    background-color: $dark-grey;
    color: $white;
    cursor: inherit;
  }
}

.hover-orange:hover{
  background-color: $orange;
  color: $white;
}

.pt21{
  font-size: 21px;
}

.pt18{
  font-size: 18px;
}

.pt16{
  font-size: 16px;
}

.margint1em{
  margin-top: 1em;
}

.margint2em{
  margin-top: 2em;
}

.paddingtb1em{
  padding-top: 1em;
  padding-bottom: 1em;
}

.margintb1em{
  margin-top: 1em;
  margin-bottom: 1em;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span{
  background-color: transparent;
  border: 0;
  color: $dark-grey;

}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  color: $dark-blue;
}
/* previous and next */
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination > li:first-child > a:focus, .pagination > li:first-child > span:focus,
.pagination > li:last-child > a:focus, .pagination > li:last-child > span:focus{
  border: 2px solid $light-grey;
  color: $light-grey;
  border-radius: 25px;
  font-size: 36px;
  line-height: 28px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.pagination > li > a{
  background-color: transparent;
}


.pagination > li:first-child > a:hover, .pagination > li:first-child > span:hover,
.pagination > li:last-child > a:hover, .pagination > li:last-child > span:hover{
  border: 2px solid $dark-grey;
  color: $dark-grey;
  background-color: transparent;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
  background-color: transparent;
}

.svg-loader{
  margin: 8em 0 20em;
  text-align: center;
}




/****
NAVBAR
****/

.navbar{
  margin-bottom: 0;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  border-radius: 0 !important;
  border: 0;
}

.navbar, .navbar-default{
  background-color: $black;
}

.navbar-default .navbar-nav > li > a{
  color: $white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: $link-orange;
}

.navbar-default .navbar-nav > li > a.navbar-btn-login{
  padding: 8px 28px;
}

.navbar-default .navbar-nav > li > a.navbar-btn-login:hover,
.navbar-default .navbar-nav > li > a.navbar-btn-login:focus{
  background-color: $orange;
  color: $white;
}


.navbar-icon{
  /*background-*/
  font-size: 16px;
}

.navbar-icon img{
  margin-right: 16px;
}

.navbar-btn-login{
  margin-top: 24px;
}

.icon-presentations{

}


.navbar .navbar-nav > li > a.icon-narrowcasting, .navbar .navbar-nav > li > a.icon-about{
  padding-top: 32px;
  padding-bottom: 30px;
}





.top-header {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  .btn.pull-right{
    margin-top: 13px;
    padding: 8px 18px;
  }
}

/****
Homepage
****/


#homepage{

  h1{
    margin-top: 5em;
    color: $white;

  }


  .explanation{
    p{
      padding: 0 2em;
      margin-bottom: 7em;
    }

    img{
      margin-top: 10em;
      margin-bottom: 2em;
    }
  }

  .hp-sub-title{
    font-size: 22px;
  }

  .image-hp-1{
    padding-bottom: 8em;
  }

  .image-hp-1 img{
    margin-top: 8em;
    margin-bottom: 3em;
  }
  
  .hp-start-learning{
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 4em;


    .btn{
      margin-top: 0.5em;
    }
  }

  .hp-sub-header h2{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .btn-hp{
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom: 4em;
    font-size: 20px;
    padding: 14px 50px;
    margin-top: 3em;
  }

  hr{
    border-top: 3px solid $green;
    max-width: 11em;
    margin-top: 14px;
    margin-bottom: 26px;
  }


}






/****
PRESENTATIONS
****/


.presentation-wrapper{
  color: $white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.1em;
  font-size: 17px;
  height: 130px;

  &.draft{
    background-color: $red;
  }

  &.published{
    background-color: $green;
  }

  &:hover{
    background-color: $orange;
    color: $white;
  }

  .presentation{
    text-align: center;
  }

  .presentation__meta{
    opacity: 0.7;
    font-size: 14px;
    display: block;
  }

  .presentation__name{
    height: 3em;  
  }
}


.presentation-toolbar{
  margin-top: 0.8em;
  margin-bottom: 2.5em;

  img{
    margin-left: 2px;
    margin-right: 2px;
    width: 26px;
    height: 26px;
    opacity: 0.4;

    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }
}

#presentations{
  
  .project-in-list{
    height: 300px;
    overflow: hidden;
  }

  .watch-tutorial{
    width: 100%;
    padding: 4px 8px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    &:hover{
      background-color: $black;
      color: $white;
    }
  }

  .order-section{
    margin-top: 1em;
    color: $light-grey;

    a{
      color: $light-grey;
      cursor: pointer;
    
      &:hover{
        color: $dark-grey;
      }

    }

    .most-recent{
      margin-left: 30px;
    }


    .order-button{

      &.published span, &.draft span{
        display: inline-block;
        border-radius: 30px;
        background-color: $green;
        width: 20px;
        height: 20px;
        margin-top: 6px;
        margin-right: 4px;
        margin-left: 18px;
      }

      &.draft span{
        background-color: $red;
      }

    }
  }

  

}


/****
DISPLAYS
****/
#displays{

  .green{
    text-align: center;
  }

  .btn-add-display{
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .displays-in-list{
    margin-left: 16%;
  }

  .display-in-list{
    display: inline-block;
    margin-right: 20em;
    margin-bottom: 7em;
  }

  .display-name{
    margin-top: 1em;
    font-size: 21px;
  }
}

/****
NEW PRESENTATION
****/
#new_presentation{

  .green, .form-control{
    text-align: center;
  }

  label{
    font-size: 28px;
    font-weight: normal;
  }

  .form-control{
    margin: 0 auto;
    color: $black;
    font-size: 21px;
    border: 0;
    border-radius: 0;
    max-width: 36em;
    padding: 26px 16px;
      
  }



  .form-group{
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: $black;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $black;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $black;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $black;
    }

    label{
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }

  button{
    margin-top: 1.5em;
    margin-bottom: 50em;
  }

  button:hover{
    background-color: $orange;
    color: $white;
  }



}



/****
EDIT PRESENTATION
****/

#edit_presentation{

  .edit-header{
    display: inline-block;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 8px;
    color: $white;
    font-size: 16px;
    font-weight: 400;

    &.black{
      width: 100%;
    }


    &:hover{
      cursor: pointer;
      background-color: $orange;
      color: $white;

    }
  }

  .edit-bar {
    margin-top: 1em;

    .btn{
      margin-left: 1em;
      width: 150px;
      padding: 5px 5px;
    }
  }

  .project-bar{
    background-color: $white;

    ul{
      margin: 0;
      padding: 3em 0;
      background-color: white;
    }

    a{
      display: inline-block;
      background-color: #F3F3F5;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
      width: 90%;
      margin-top: 10px;
      margin-left: 5%;
      margin-right: 5%;
      height: 150px;
      cursor: pointer;
      color: $light-grey;

      &:hover{
        background-color: $orange;
      }

      h3{
        color: $dark-grey;
      }
    }

    .project-in-list{
      height: 220px;
    }
  }

  .project-in-list{
    height: 340px;
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
    font-size: 14px;

    h3{
      font-weight: 900;
      font-size: 20px;
    }

    span{
      margin-top: 10px;
      line-height: 11px;
      font-weight: 900;
      display: inline-block;
    }
  }

  iati-select{
    background-color: white;
  }

  .iati-select-filters{ 
    background-color: $white;

    .btn{
      margin-right: 14px;
    }

    .btn-active{
      background-color: $orange;
    }

    .go-to-projects{
      float:left;
      margin-left: 15px;
    }
  }



  /*********************
  SLIDER TOOLTIP 
  *********************/

  .slide {
    padding:50px 14px 34px;
    background: transparent;
    margin-bottom: 14px;
    .slider-selection {
      background: lighten($dark-grey,40%);
    }
    &.active {
      .slider-selection {
        background: $orange;
      }
      .slider-handle {
        background: $orange;
      }
      .tooltip {
        .tooltip-inner {
          background: $orange;
        }
        &.top {
          .tooltip-arrow {
            border-top-color: $orange;
          }
        }
        &.bottom {
          .tooltip-arrow {
            border-bottom-color: $orange;
          }
        }
      }
      .slider-track {
        .slider-handle {
          background: $dark-grey;
        }
      }
    }
    .slider-track {
      background: #fff;
      border:1px solid #ccc;
      border-radius: 5px;
      .slider-handle {
        background: lighten($dark-grey,40%);
        border:1px solid #fff;
        width: 35px;
        height: 35px;
        margin-left: -17px;
        margin-top: -12px;
        outline: none;
      }
    }
    #tooltip {
      display: none;
    }
    .tooltip {
      font-weight: 700;
      opacity: 1;
      font-size: 1.2em;
      .tooltip-inner {
        background: lighten($dark-grey,40%);
      }
      &.top {
        top:-14 px !important;
        .tooltip-arrow {
          border-top-color: lighten($dark-grey,40%);
        }
      }
      &.bottom {
        top:26px !important;
        .tooltip-arrow {
          border-bottom-color: lighten($dark-grey,40%);
        }
      }
    }

  }


}


/****
IATI filters
****/
.filter-panel{
  
  .table{
    margin-left: 15px;
    font-size: 18px;

    .checkbox{
      margin-top: 2px;
      margin-bottom: 2px;
    }

    thead{
      font-size: 18px;
      font-weight: 900;
    }

    thead td{
      padding: 20px 0 10px;
    }

    .th-first{
      padding-left: 35px;
    }

    .radio label, .checkbox label{
      margin-left: 10px;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
      margin-left: -30px;
    }

  }

  .table > thead > tr > td{
    padding: 20px 0 10px;
    border-top: 0;
  }

  .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 4px;
    border-top: 0;
  }

  &.filter-panel-budget{
    min-height: 600px;

    h3{
      font-size: 18px;
      font-weight: 900;
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }

    .checkbox{
      padding-top: 30px;
    }

    .slider.slider-horizontal{
      width: 100% !important;
    }
  }


}




/****
Users
****/

#users{
  img{
    max-width: 100%;
    height: auto;
  }

}

/****
LEARN
****/
#learn{

  .learn-main{
    margin-top: 3.5em;
    width: 100%;
    min-height: 50em;

    img{
      width: 100%;
      height: auto;
    }
  }
}