/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/****
GENERAL
****/

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $font-color;
  font-size: 15px;
  background-color: $light-background;
}

a:hover{
  text-decoration: none;
}

h1{
  margin-top: 16px;
  font-size: 28px;
  color: #BFBDBD;
}

.no-posts-here {
  text-align: center;
}

.no-overflow {
  overflow: hidden;
}

.btn{
  background-color: #424141;
  filter: alpha(opacity=87);
  border-radius: 6px 14px;
  padding: 8px;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  border-radius: $border-radius;
}



.btn-green{
  background-color: $green;
  color: $white;

  &:hover{
    background-color: $orange;
    color: $white;
  }
}

.white{
  background-color: #fff;
}

.light-blue{
  background-color: $light-blue;
  color: $white;
}

.red{
  background-color: $red;
  color: $white;
}

.green{
  background-color: $green;
  color: $white;
}

.orange{
  background-color: $orange;
  color: $white;
}

.light-grey{
  background-color: $light-grey;
  color: $white;
}

.dark-grey{
  background-color: $dark-grey;
  color: $white;
}

.dark-green{
  background-color: $dark-green;
  color: $white;
}

.black{
  background-color: $black;
  color: $white;
}

.btn-more-padding{
  padding: 8px 18px;
}

.btn-padding-30{
  padding: 5px 30px;
}

.btn-padding-50{
  padding: 5px 50px;
}

.btn-sort-by{
  margin-left: 20px;
}

.btn-drag-drop{
  margin-top: 3em;
  margin-bottom: 2em;

  &:hover{
    background-color: $dark-grey;
    color: $white;
    cursor: inherit;
  }
}

.hover-orange:hover{
  background-color: $orange;
  color: $white;
}

.hover-dark-orange:hover{
  background-color: darken($orange,10%);
  color: $white;
}

.hover-black:hover{
  background-color: $black;
  color: $white;
}

.pt21{
  font-size: 21px;
}

.pt18{
  font-size: 18px;
}

.pt16{
  font-size: 16px;
}

.marginr1em{
  margin-right: 1em;
}

.margint1em{
  margin-top: 1em;
}

.margint2em{
  margin-top: 2em;
}

.paddingtb1em{
  padding-top: 1em;
  padding-bottom: 1em;
}

.margintb1em{
  margin-top: 1em;
  margin-bottom: 1em;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span{
  background-color: transparent;
  border: 0;
  color: $dark-grey;

}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  color: $dark-blue;
}
/* previous and next */
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination > li:first-child > a:focus, .pagination > li:first-child > span:focus,
.pagination > li:last-child > a:focus, .pagination > li:last-child > span:focus{
  border: 2px solid $light-grey;
  color: $light-grey;
  border-radius: 25px;
  font-size: 36px;
  line-height: 28px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.pagination > li > a{
  background-color: transparent;
}


.pagination > li:first-child > a:hover, .pagination > li:first-child > span:hover,
.pagination > li:last-child > a:hover, .pagination > li:last-child > span:hover{
  border: 2px solid $dark-grey;
  color: $dark-grey;
  background-color: transparent;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
  background-color: transparent;
}

.svg-loader{
  margin: 8em 0 20em;
  text-align: center;
}




/****
NAVBAR
****/

.navbar{
  margin-bottom: 0;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  border-radius: 0 !important;
  border: 0;
}

.navbar, .navbar-default{
  background-color: $black;
}

.navbar-default .navbar-nav > li > a{
  color: $white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: $link-orange;
}

.navbar-default .navbar-nav > li > a.navbar-btn-login{
  padding: 8px 28px;
}

.navbar-default .navbar-nav > li > a.navbar-btn-login:hover,
.navbar-default .navbar-nav > li > a.navbar-btn-login:focus{
  background-color: $orange;
  color: $white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $link-orange;
  background:none;
}


.navbar-icon{
  /*background-*/
  font-size: 16px;
}

.navbar-icon img{
  margin-right: 16px;
}

.navbar-btn-login{
  margin-top: 12px;
}

.icon-presentations{

}

.navbar-brand {
  height: 60px;
  padding:8px 15px;
  img {
    height: 100%;
    width: auto;
  }
}


// .navbar .navbar-nav > li > a.icon-narrowcasting, .navbar .navbar-nav > li > a.icon-about{
//   padding-top: 32px;
//   padding-bottom: 30px;
// }





.top-header {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  .btn.pull-right{
    margin-top: 13px;
    padding: 8px 18px;
  }
}

/****
Homepage
****/


#homepage{

  h1{
    margin-top: 5em;
    color: $white;

  }


  .explanation{
    p{
      padding: 0 2em;
      margin-bottom: 7em;
    }

    img{
      margin-top: 10em;
      margin-bottom: 2em;
    }
  }

  .hp-sub-title{
    font-size: 22px;
  }

  .image-hp-1{
    padding-bottom: 8em;
  }

  .image-hp-1 img{
    margin-top: 8em;
    margin-bottom: 3em;
  }
  
  .hp-start-learning{
    padding-top: 1em;
    padding-bottom: 2em;
    //margin-bottom: 4em;


    .btn{
      margin-top: 0.5em;
    }
  }

  .hp-sub-header h2{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .btn-hp{
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom: 4em;
    font-size: 20px;
    padding: 14px 50px;
    margin-top: 3em;
  }

  hr{
    border-top: 3px solid $green;
    max-width: 11em;
    margin-top: 14px;
    margin-bottom: 26px;
  }


}






/****
PRESENTATIONS
****/


.presentation-wrapper{
  color: $white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.1em;
  font-size: 17px;
  height: 130px;

  &.draft{
    background-color: $red;
  }

  &.published{
    background-color: $green;
  }

  &:hover{
    background-color: $orange;
    color: $white;
  }

  .presentation{
    text-align: center;
  }

  .presentation__meta{
    opacity: 0.7;
    font-size: 14px;
    display: block;
  }

  .presentation__name{
    height: 3em;  
  }
}

.presentation-toolbar{
  margin-top: 0.8em;
  margin-bottom: 2.5em;

  img{
    margin-left: 2px;
    margin-right: 2px;
    width: 26px;
    height: 26px;
    opacity: 0.4;

    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }
}

#presentations{
  
  .project-in-list{
    height: 300px;
    overflow: hidden;
  }

  .watch-tutorial{
    width: 100%;
    padding: 4px 8px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    &:hover{
      background-color: $black;
      color: $white;
    }
  }

  .order-section{
    margin-top: 22px;
    color: $light-grey;

    a{
      color: $light-grey;
      cursor: pointer;
    
      &:hover{
        color: $dark-grey;
      }

    }

    .most-recent{
      margin-left: 30px;
    }


    .order-button{
      position:relative;
      display: inline-block;
      padding-left:30px;

      &.published span, &.draft span{
        display: block;
        border-radius: 30px;
        background-color: $green;
        width: 20px;
        height: 20px;
        left:5px;
        position:absolute;
      }

      &.draft span{
        background-color: $red;
      }

    }
  }

  

}


/****
DISPLAYS
****/
#displays{

  .green, .orange{
    text-align: center;
  }

  .displays-wrapper{
    width: 100%;
    overflow: scroll;
  }

  .btn-add-display{
    margin-top: 2em;
  }

  .displays-in-list{
    margin-left: 0;
    width: 10000px;
  }

  .display-in-list{
    display: inline-block;
    padding-right: 32px;
    padding-left: 32px;
    margin-top:58px;
    margin-bottom: 100px;
    float: left;
    position: relative;
    
    .presentation{
      position: absolute;
      top: 13px;
      left: 46px;
      background-color: $green;
      width: 319px;
      height: 169px;
      text-align: center;
      padding-top: 1.5em;
      font-size: 17px;

      .presentation__meta{
        opacity: 0.7;
        font-size: 14px;
        display: block;
      }

      .presentation__name{
        height: 4em;  
      }
    }
  }

  .display-name{
    margin-top: 1em;
    font-size: 21px;
  }
}


/****
NEW PRESENTATION
****/
#new_presentation{

  .green, .form-control{
    text-align: center;
  }

  label{
    font-size: 28px;
    font-weight: normal;
  }

  .form-control{
    margin: 0 auto;
    color: $black;
    font-size: 21px;
    border: 0;
    border-radius: 0;
    max-width: 36em;
    padding: 26px 16px;
    height: 100%;
  }



  .form-group{
    // ::-webkit-input-placeholder { /* WebKit browsers */
    //   color: $black;
    // }
    // :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    //   color: $black;
    // }
    // ::-moz-placeholder { /* Mozilla Firefox 19+ */
    //   color: $black;
    // }
    // :-ms-input-placeholder { /* Internet Explorer 10+ */
    //   color: $black;
    // }
    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    label{
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }

  button{
    margin-top: 1.5em;
    margin-bottom: 50em;
  }

  button:hover{
    background-color: $orange;
    color: $white;
  }



}



/****
EDIT PRESENTATION
****/

#edit_presentation{

  .iati-list {
    .project-in-list {
      cursor: move;
      height:300px;
    }
    h3 {
      margin-top:0;
    }
    h6 {
      margin-bottom: 1px;
      margin-top:15px;
    }
  }

  .rsr-list {
    h3 {
      margin-top:0;
    }
    .project-in-list {
      height:100px;
      cursor: move;
    }
  }

  .project-select {
    .edit-header {
      width: 49%;
      float: left;
      h6 {
        margin:2px 0;
        text-transform: uppercase;
        font-size:10px;
      }
      &:last-of-type {
        float: right;
      }
    }
  }

  .edit-header{
    display: inline-block;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 8px 14px;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

    &.black{
      width: 100%;
      &:hover{
        cursor: default;
        background-color: $black;
      }
    }

    &:hover{
      cursor: pointer;
    }
    &.light-blue {
      &:hover {
        background-color: darken($light-blue, 10%);
      }
    }
    &.green {
      &:hover {
        background-color: darken($green, 10%);
      }
    }

  }

  .edit-bar {
    margin-top: 1em;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    
    &.text-right {
      box-shadow:none;
    }
    h4 {
      @extend .black;
      margin-top: 0;
      padding:8px 14px;
      margin-bottom: 10px;
      font-size:16px;
    }

    .btn{
      margin-left: 1em;
      min-width: 150px;
      padding: 5px 10px;
    }
  }

  .project-bar{
    height: 65em;
    overflow-y: scroll;
    background-color: $white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

    .iati{
      background-color: $green;
      color: $white;
    }

    .rsr{
      background-color: $light-blue;
      color: $white;
    }

    .rsr-slide-2 {
      background-color: lighten($light-blue,15%);
    }

    .content{
      background-color: $orange;
      color: $white;
    }

    .hoveredProject .main-project {
      border: 2px solid red;
    }

    .hovered{
      background-color: $orange !important;
    }

    .remove-slide{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      padding: 3px;
      font-size: 12px;
      border: 1px solid #fff;
      border-radius:12px;

      &:hover{
        color: $red;
        border-color: $red;
        cursor: pointer;
      }
    }


    ul{
      margin: 0;
      padding-bottom: 3em;
      background-color: white;
    }

    li{
      clear: both;
    }

    .dummy{
      display: inline-block;
      background-color: #F3F3F5;
      cursor: move;
      color: $light-grey;
      width: 100%;
      padding:0 10px 15px 10px;

      &:hover{
        background-color: $orange;
        color:#fff;
      }

      .drag-drop {
        display: block;
        padding-bottom:5px;
      }
      .slide-nr {
        padding-top:5px;
        display: block;
      }

      h3{
        color: $dark-grey;
      }

    }

    .edit-slide-link{
      cursor: pointer;
      display: block;
      margin:0 10px 10px 10px;
      border:0;
    }

    .main-project {
      overflow:auto;
      border:2px solid $black;
      margin:10px;
      padding:1px;
      background:$black;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
      border-radius:3px;
      cursor: move;
      &:hover, &:focus, &.ui-draggable-dragging {
        .rsr {
          background-color: darken($light-blue,10%);
          &.rsr-slide-2 {
            background-color: lighten($light-blue,5%);
          }
        }
        .iati {
          background-color: darken($green,10%);
        }
        .content {
           background-color: darken($orange,10%);
        }
      }
    }

    .project-in-list{
      height: auto;
      margin: 0;
    }

  }

  iati-select .project-in-list{

    &.iati{
      //border:2px solid $green;
      &:hover{
        //border: 2px solid red;
        background-color: darken( $green, 10% );
      }
    }
  }

  rsr-select .project-in-list{

    &.rsr{
      //border:2px solid $light-blue;
      &:hover{
        //border: 2px solid red;
        background-color: darken( $light-blue, 10% );
      }
    }
  }

  .project-in-list{
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
    font-size: 14px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

    h3{
      font-weight: 400;
      font-size: 20px;
    }

    span{
      line-height: 11px;
      font-weight: 400;
      display: inline-block;
    }

    &.rsr-slide-2{
      margin-top:3px;
      h3{
        font-size: 17px;
      }
    }
  }

  iati-select{
    background-color: white;
  }

  .iati-select-filters{ 
    background-color: $white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

    &.iati-select {
      border:2px solid $green;
    }

    &.rsr-select {
      border:2px solid $light-blue;
    }

    .btn{
      margin-right: 10px;
      font-size:14px;
    }

    .btn-active{
      background-color: $orange;
    }

    .go-to-projects{
      float:left;
      margin-left: 15px;
    }
  }

  .iati-select-bg{
    text-align: center;
    padding-top: 5em;
    min-height: 600px;
  }



  /*********************
  SLIDER TOOLTIP 
  *********************/

  .slide {
    padding:50px 14px 34px;
    background: transparent;
    margin-bottom: 14px;
    .slider-selection {
      background: lighten($dark-grey,40%);
    }
    &.active {
      .slider-selection {
        background: $orange;
      }
      .slider-handle {
        background: $orange;
      }
      .tooltip {
        .tooltip-inner {
          background: $orange;
        }
        &.top {
          .tooltip-arrow {
            border-top-color: $orange;
          }
        }
        &.bottom {
          .tooltip-arrow {
            border-bottom-color: $orange;
          }
        }
      }
      .slider-track {
        .slider-handle {
          background: $dark-grey;
        }
      }
    }
    .slider-track {
      background: #fff;
      border:1px solid #ccc;
      border-radius: 5px;
      .slider-handle {
        background: lighten($dark-grey,40%);
        border:1px solid #fff;
        width: 35px;
        height: 35px;
        margin-left: -17px;
        margin-top: -12px;
        outline: none;
      }
    }
    #tooltip {
      display: none;
    }
    .tooltip {
      font-weight: 700;
      opacity: 1;
      font-size: 1.2em;
      .tooltip-inner {
        background: lighten($dark-grey,40%);
      }
      &.top {
        top:-14 px !important;
        .tooltip-arrow {
          border-top-color: lighten($dark-grey,40%);
        }
      }
      &.bottom {
        top:26px !important;
        .tooltip-arrow {
          border-bottom-color: lighten($dark-grey,40%);
        }
      }
    }

  }


}


/****
IATI filters
****/
.filter-panel{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  
  .table{
    margin-left: 15px;
    font-size: 18px;

    .checkbox{
      margin-top: 2px;
      margin-bottom: 2px;
    }

    thead{
      font-size: 18px;
      font-weight: 400;
    }

    thead td{
      padding: 20px 0 10px;
    }

    .th-first{
      padding-left: 35px;
    }

    .radio label, .checkbox label{
      margin-left: 10px;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
      margin-left: -30px;
    }

  }

  .table > thead > tr > td{
    padding: 20px 0 10px;
    border-top: 0;
  }

  .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 4px;
    border-top: 0;
  }

  &.filter-panel-text-search{
    min-height: 600px;

    h3{
      margin: 1em 0;
    }
  }

  &.filter-panel-budget{
    min-height: 600px;

    h3{
      font-size: 18px;
      font-weight: 400;
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }

    .checkbox{
      padding-top: 30px;
    }

    .slider.slider-horizontal{
      width: 100% !important;
    }
  }






  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
  .pagination > li > a, .pagination > li > span,
  .pagination > li:first-child > a, .pagination > li:first-child > span{
    color: #fff;
  }


  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    color: $dark-grey;
  }
  /* previous and next */
  .pagination > li:first-child > a, .pagination > li:first-child > span,
  .pagination > li:last-child > a, .pagination > li:last-child > span,
  .pagination > li:first-child > a:focus, .pagination > li:first-child > span:focus,
  .pagination > li:last-child > a:focus, .pagination > li:last-child > span:focus{
    border: 2px solid #fff;
    color: #fff;
  }

  .pagination > li > a{
    background-color: transparent;
  }

  .pagination > li:first-child > a:hover, .pagination > li:first-child > span:hover,
  .pagination > li:last-child > a:hover, .pagination > li:last-child > span:hover{
    border: 2px solid #fff;
    color: #fff;
  }

}


/****
slide WYSIWYG
****/
#slide-wysiwyg{
  font-size: 14px;

  .saveslide {
    font-size:20px;
  }

  .background-image{
    position: absolute;
    top: 11%;
    left: 0;
    width: 100%;
    height: 89%;
    -webkit-filter: blur(3px); 
    filter: blur(3px);
    filter: url(/static/images/blur.svg#blur); 
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    clip: rect(0px,auto,auto,0px);
  }

  .no-blur{
    -webkit-filter: blur(0px); 
    filter: blur(0px); 
    filter: none; 
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  }

  .loading-slide{
    text-align: center;
    padding-top: 12em;
  }

  .block{
    position: absolute;
    background-color: #fff;
    text-transform: uppercase;

    textarea{
      width: 100%;
      padding: 0 8px;
    }
  }

  .block-box-shadow{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }

  .edit-slide{
    height: 550px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    position: relative;
  }

  .minicolors{
    text-align: right;
  }

  .minicolors .color-picker{
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #aaa;
    padding-right: 20px;
    padding-left: 10px;
    width: 100px;
    box-shadow: none;
    background-image: url('../images/colorpicker.png');
    background-position: right center;
    background-repeat: no-repeat;
  }


  .minicolors-theme-bootstrap .minicolors-swatch{
    width: 2px;
    height: 2px;
    border: none;
  }

  input, textarea{
    border: 0;
  }

  textarea{
    resize: none;
  }

  .active, .active:focus{
    -webkit-box-shadow: inset 0px 0px 2px 3px rgba(73, 138, 184, 1);
    -moz-box-shadow:    inset 0px 0px 2px 3px rgba(73, 138, 184, 1);
    box-shadow:         inset 0px 0px 2px 3px rgba(73, 138, 184, 1);
  }

  .top-header{
    top: 0;
    left: 0;
    position: absolute;
    background-color: #fff;
    border-bottom: 3px solid #00518d;
    height: 11%;
    width: 100%;
    text-align: center;
  }

  .header{
    position: absolute;
    top: 12.5%;
    left: 1%;
    width: 78%;
    height: 10%;
    padding: 8px 10px;
    border-left: 8px solid $dark-red; 
    text-transform: uppercase;
    color: #000;
  }

  .hashtag{
    position: absolute;
    top: 18%;
    left: 80%;
    width: 13%;
    height: 4.5%;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 2px 8px;
  }

  .subheader{
    position: absolute;
    top: 24%;
    left: 1%;
    width: 16%;
    height: 17%;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    padding: 2px 8px 2px 12px;
    border-left: 8px solid #fff;
    background-color: #bd0e13;
  }

  .description{
    position: absolute;
    top: 43%;
    left: 1%;
    height: 29%;
    width: 16%;
    font-size: 0.7em;
    font-weight: 400;
    border-left: 8px solid $dark-red;
    padding: 2px 4px;
    line-height: 1.3em;
  }

  .main-image{
    position: absolute;
    top: 24%;
    left: 18%;
    width: 31%;
    height: 48%;
  }

  .block-header{
    line-height: 1.4em;
    font-weight: bold;
    color: #000;
    padding: 6px 8px 0;
  }

  .block-text{
    box-shadow: none;
    color: #969696;
    font-weight: bold;
    padding: 0 10px 0;
    width: 100%;
    line-height: 1.2em;
  }

  .date-block{
    top: 24%;
    width: 20.5%;
    height: 16%;
    font-size: 1.5em;

    .block-header{
      line-height: 1.1em;
    }

    &.start-date{
      left: 50%;
    }

    &.end-date{
      left: 71%;
      width: 21%;
    }
  }

  .goal-block{
    top: 41%;
    left: 50%;
    width: 42%;
    height: 31%;

    .block-header{
      font-size: 1.5em;
    }

    textarea{
      width: 100%;
      box-shadow: none;
      font-size: 1.2em;
      height: 70%;
      padding: 0 10px;
      line-height: 1.2em;

    }
  }

  .rsr-slide{

    .funding-partner-block{
      left: 50%;
      top: 24%;
      width: 23%;
      height: 12%;

      textarea{
        max-height: 36px;
      }
    }



    .budget-block{
      left: 50%;
      top: 37%;
      width: 23%;
      height: 13%;

      .block-text{
        font-size: 1.4em;
      }
    }

    .target-group-block{
      left: 50%;
      top: 52%;
      width: 23%;
      height: 20%;

      textarea{
        height: 73px;
      }
    }

    .location-name-block{
      left: 74%;
      top: 24%;
      height: 16%;
      width: 18%;

      input{
        max-width: 100%;
      }

      .block-text{
        margin-top: 6px;
        font-size: 1.4em;
      }
    }

    .location-block{
      left: 74%;
      top: 42%;
      height: 30%;
      width: 25%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .updates-block{
    top: 74%;
    left: 1%;
    width: 98%;
    height: 24%;
    padding: 20px 8px;
 
    textarea{
      padding-left: 0;
    }

    .updates-header{
      display: inline-block;
      font-size: 1.2em;
      line-height: 1em;
      width: 12%;
      font-weight: 400;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
      vertical-align: middle;
      height: 100%;
      margin-right: 4px;
      padding: 8px 6px;
    }

    .presentation-arrow{
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .single-update{
      position: relative;
      display: inline-block;
      height: 100%;
      width: 35%;
      margin-left: 2%;
      vertical-align: middle;

      img{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 30%;
      }

      .update-inner{
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        height: 100%;
        padding: 2px 0 0 8px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);

        .update-post-date{
          font-size: 0.7em;
          color: $light-grey;
          font-weight: bold;
        }

        .update-by{
          font-size: 0.7em;
          color: $green;
          font-weight: bold;
        }

        .update-title{
          font-size: 0.7em;
          color: black;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }




  /*** IATI SLIDE ***/

  .iati-slide{
    max-height: 100%;

    .header{
      width: 97%;
    }

    .description{
      top: 24%;
      width: 97%;
      height: 18%;
    }

    .participating-organisations-block, .sectors-block, .countries-block{
      left: 48%;
      top: 44%;
      font-size: 1.3em;
    }

    .participating-organisations-block{
      top: 61%;
      width: 50%;
      height: 24%;
    }

    .sectors-block{
      height: 15%;
      width: 50%;
    }

    .date-block{
      top: 72%;
      height: 13%;
      font-size: 1.2em;
      width: 21%;

      &.start-date{
        left: 1%;
      }

      &.end-date{
        left: 24%;
      }
    }

    .type-relatie-block, .total-budget-block{
      top: 56%;
      width: 21%;
      height: 13%;
      font-size: 1.2em;
    }

    .type-relatie-block{
      left: 1%;
    }

    .total-budget-block{
      left: 24%;
    }

    .countries-block{
      left: 1%;
      height: 9%;
      width: 44%;
    }


  }


  .content-slide{


    .header{
      text-align: center;
      width: 98%;
      border-left: 0;
    }

    .description{
      text-align: center;
      top: 25%;
      left: 1%;
      width: 98%;
      border-left: 0;
      padding: 8px 4px;
    }



  }



  .edit-bars{

    // h4{
    //   padding: 8px 8px 0 14px;
    //   margin-bottom: 0;
    // }
    
    .edit-bar{
      min-height: 300px;
    }

    .edit-input-fontsize{
      border: 1px solid $light-grey;
    }

    hr{
      border-top: 1px solid #D9E021;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .edit-option-header{
      padding-left: 14px;
      color: $light-grey;
      display: inline-block;
    }

    .currently-edited{
      padding-left: 14px;
      color: #888;
    }

    .currently-editing{
      display: block;
    }

    .font-size {
      text-align: right;

      input{
        margin-right: 10px;
        width: 50px;
      }
    }

    .weight-block {
      margin-top: 10px;
      margin-bottom: 8px;
      text-align: right;

      a{
        cursor: pointer;
        color: black;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        padding: 1px 10px;

        &:hover{
          color: $light-grey;
        }
      }

      .underline{
        margin-right: 10px;
      }
    }

    .upload-image{
      display: block;
      text-align: center;
      font-size: 14px;
      margin: 8px auto;
      background-color: #e0e0e0;
      color: $dark-grey;
      padding: 4px 15px;
      width:90%;
    }

    .remove-image{
      display: block;
      margin: 12px auto;
      font-size: 14px;
      background-color: $red;
      color: $white;
      padding: 4px 15px;
      width: 90%;
      cursor: pointer;
    }
  }
}



/****
Users
****/

#users{
  

  .my-recent-projects{
    margin-bottom: 3em;
  }

  .profile{
    min-height: 800px;

    .btn{
      width: 100%;
      border-radius: 0;
      margin-top: 20px;
    }

    img{
      max-width: 100%;
      height: auto;
    }

    input{
      border: 0;
      padding: 10px;
      width: 100%;
      margin-top: 20px;

      &:hover{
        box-shadow: 0px 0px 8px rgba(0,0,0,0.13),0px 0px 8px rgba(0,0,0,0.13);
        &::-webkit-input-placeholder { color: $black; }
        &:-moz-placeholder { color: $black; }
        &::-moz-placeholder { color: $black; }
        &:-ms-input-placeholder { color: $black; }
      }

      &:focus, &:active{
        background-color: $light-blue;
        border-color: $light-blue;
        color: $white;
        &::-webkit-input-placeholder { color: $white; }
        &:-moz-placeholder { color: $white; }
        &::-moz-placeholder { color: $white; }
        &:-ms-input-placeholder { color: $white; }
      }
    }    

  }

  .user-meta-item{
    width: 100%;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.09);
  }

  .table-users{
    margin-top: 1em;

    thead td{
      font-size: 24px;
      color: $black;
      font-weight: 400;
    }
  }

  .table > tbody > tr > td{
    position: relative;
    border-top: 0;
    background-color: $green;
    border-bottom: 26px solid $light-background;
    color: $white;
    text-align: center;
    padding: 5px;
    font-size:18px;
    vertical-align: middle;


    img{
      position: absolute;
      top: -3px;
      left: 10px;
    }
  }
  .table > tbody > tr > td.email{
    max-width: 20%;
    border-left: 16px solid $light-background;
    border-right: 16px solid $light-background;
  }

}

/****
LEARN
****/
#learn{

  .learn-main{
    margin-top: 3.5em;
    //width: 100%;
    //min-height: 50em;

    img{
      width: 100%;
      height: auto;
    }
  }
}




/****
SNACKBAR
****/

#snackbar-container{
  left: auto;
  bottom: auto;
  bottom: 10px;
  right: 50%;
  width: 300px;
  margin-right: -150px;
  pointer-events: none;


  .snackbar {
    background-color: lighten($black,15%);
    //padding: 6px 10px;
    filter: alpha(opacity=87);
    border-radius: 6px 14px;
    padding: 14px;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    border-radius: $border-radius;
    margin-bottom: 1em;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.25);
    text-align:center;
  }

  .snackbar.snackbar-opened {
    height: auto;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  #snackbar-container {
    left: 0px !important;
    right: 0px;
    width: 100%;
  }
  #snackbar-container .snackbar {
    min-width: 100%;
  }
  #snackbar-container [class="snackbar snackbar-opened"] ~ .snackbar.toast {
    margin-top: 20px;
  }
  #snackbar-container [class="snackbar snackbar-opened"] {
    border-radius: 0;
    margin-bottom: 0;
  }
}

