<div id="edit_presentation">
  <div class="top-header white">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h1>Editor</h1>
        </div>
        <div class="col-sm-3">
            <a class="btn hover-orange btn-padding-30 light-grey margint1em" ng-click="vm.addEmptySlide()">Add empty content slide</a>
        </div>
        <div class="col-sm-6 text-right edit-bar">
          <a ng-hide="vm.view == 'slide-wysiwyg'" class="btn hover-orange btn-padding-30 red" ng-click="vm.save('save-draft')">Save draft</a>
          <a ng-show="vm.view == 'slide-wysiwyg'" class="btn hover-orange btn-padding-30 orange" ng-click="vm.selectView('rsr-select')">Select projects</a>

          <a ui-sref="preview-presentation({ presentation_id : vm.presentationId })" class="btn hover-orange btn-padding-30 light-blue">Preview</a>
          <a class="btn hover-orange btn-padding-30 green" ng-click="vm.save('save-presentation')">Publish to display</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row margint2em">
        <div class="col-sm-3">
            <div class="edit-header black">
                {{vm.presentation.name | limitTo: 30 }}
            </div>
            <project-bar></project-bar>
        </div>
        <div class="col-sm-9">
            <div class="row" ng-hide="vm.view == 'slide-wysiwyg'">
                <div class="col-md-12">
                    <a class="edit-header light-blue" ng-click="vm.selectView('rsr-select')">
                        Akvo Realy Simple Reporting (RSR) projects
                    </a>
                    <a class="edit-header green" ng-click="vm.showIatiProjects()">
                        International Aid Transparency Initaitive (IATI) projects
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">


                    <div ng-show="vm.view.indexOf('rsr-select') > -1" class="row">
                        <div class="col-md-12  text-right">
                            <div class="iati-select-filters paddingtb1em">
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'rsr-select' }" 
                                ng-click="vm.showRsrProjects()" 
                                class="btn hover-orange btn-more-padding light-grey">Projects</a>
                                <!-- <a 
                                ng-class="{ 'btn-active': vm.view == 'rsr-select-locations' }" 
                                ng-click="vm.view = 'rsr-select-locations'" 
                                class="btn hover-orange btn-more-padding light-grey">Locations</a> -->
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'rsr-select-statuses' }" 
                                ng-click="vm.view = 'rsr-select-statuses'" 
                                class="btn hover-orange btn-more-padding light-grey">Status</a>
                                <!--
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'rsr-select-organisations' }" 
                                ng-click="vm.view = 'rsr-select-organisations'" 
                                class="btn hover-orange btn-more-padding light-grey">Organisation</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'rsr-select-sectors' }" 
                                ng-click="vm.view = 'rsr-select-sectors'" 
                                class="btn hover-orange btn-more-padding light-grey">Sector</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'rsr-select-sort-by' }" 
                                ng-click="vm.view = 'rsr-select-sort-by'" 
                                class="btn hover-orange btn-more-padding btn-sort-by light-blue">Sort by</a> -->
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div ng-show="vm.view.indexOf('iati-select') > -1" class="col-md-12  text-right">
                            <div class="iati-select-filters paddingtb1em">
                                <a
                                ng-class="{ 'btn-active': vm.view == 'iati-select' }" 
                                ng-click="vm.showIatiProjects()" 
                                class="btn hover-orange btn-more-padding light-grey go-to-projects">Projects</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'iati-select-regions' }" 
                                ng-click="vm.view = 'iati-select-regions'" 
                                class="btn hover-orange btn-more-padding light-grey">Regions</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'iati-select-countries' }" 
                                ng-click="vm.view = 'iati-select-countries'" 
                                class="btn hover-orange btn-more-padding light-grey">Countries</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'iati-select-sectors' }" 
                                ng-click="vm.view = 'iati-select-sectors'" 
                                class="btn hover-orange btn-more-padding light-grey">Sectors</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'iati-select-budget' }" 
                                ng-click="vm.view = 'iati-select-budget'" 
                                class="btn hover-orange btn-more-padding light-grey">Budget</a>
                                <a 
                                ng-class="{ 'btn-active': vm.view == 'iati-select-text-search' }" 
                                ng-click="vm.view = 'iati-select-text-search'" 
                                class="btn hover-orange btn-more-padding light-grey">Text search</a>
                            </div>
                        </div>
                    </div>

                    

                    <iati-select ng-show="vm.view == 'iati-select'"></iati-select>
                    <iati-select-regions ng-show="vm.view == 'iati-select-regions'"></iati-select-regions>
                    <iati-select-countries ng-show="vm.view == 'iati-select-countries'"></iati-select-countries>
                    <iati-select-sectors ng-show="vm.view == 'iati-select-sectors'"></iati-select-sectors>
                    <iati-select-budget ng-show="vm.view == 'iati-select-budget'"></iati-select-budget>
                    <iati-select-text-search ng-show="vm.view == 'iati-select-text-search'"></iati-select-text-search>

                    <rsr-select ng-show="vm.view == 'rsr-select'"></rsr-select>
                    <rsr-select-status ng-show="vm.view == 'rsr-select-statuses'"></rsr-select-status>
                    <slide-wysiwyg ng-show="vm.view == 'slide-wysiwyg'"></slide-wysiwyg>

                </div>
            </div>

        </div>
    </div>

    
  </div>
</div>
