<div class="row">
    <div class="col-md-12" ng-show="vm.iatiProjects.loading">
        <div class="green iati-select-bg">
            <div class="svg-loader">
                <img src="/static/images/tail-spin.svg" width="100" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="vm.iatiProjects.activities.length < 1">
        <div class="green iati-select-bg">
            <h3>No projects found in the current selection</h3>
        </div>
    </div>
    <ul dnd-list="vm.iatiProjects" ng-hide="vm.iatiProjects.loading">
        <li
            class="col-md-4" 
            dir-paginate="project in vm.iatiProjects.activities | filter:q | itemsPerPage: 6"  
            total-items="vm.iatiProjects.totalActivities"
            pagination-id="iatiProjects"
            current-page="vm.iatiProjects.currentPage"
            data-drag="true" 
            data-jqyoui-options="{revert: 'invalid', deepCopy: true, animate: true, helper:'clone'}" 
            ng-model="project" 
            jqyoui-draggable="{placeholder:'keep'}">
            <div class="project project-in-list iati green text-center">
                
                <h3>{{project.previewData.titles[0].title}}</h3>
                
                <span>COUNTRY:</span>
                <div ng-repeat="country in project.previewData.countries">{{country.name}}</div>
                <span>SECTOR:</span>
                <div ng-repeat="sector in project.previewData.sectors">{{sector.name}}</div>
                <span>BUDGET:</span>
                <div>{{project.previewData.totalBudget | iaticurrency :'€':0:".":"."}}</div>
                <span>START DATE:</span>
                <div>{{project.previewData.start_actual | date:'dd-MM-yyyy'}}</div>
            </div>
        </li>
    </ul>
</div>

<div class="row">
  <div class="col-xs-12 text-center-not-xs">
     <dir-pagination-controls pagination-id="iatiProjects" on-page-change="vm.iatiPageChanged(newPageNumber)"></dir-pagination-controls>
  </div>
</div>