<div class="row">
    <div class="col-md-12  text-right">
        <div class="iati-select-filters paddingtb1em">
            <a class="btn hover-orange btn-more-padding light-grey">Regions</a>
            <a class="btn hover-orange btn-more-padding light-grey">Countries</a>
            <a class="btn hover-orange btn-more-padding light-grey">Sectors</a>
            <a class="btn hover-orange btn-more-padding light-grey">Budget</a>
            <a class="btn hover-orange btn-more-padding btn-sort-by green">Sort by</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4" dir-paginate="project in vm.projects | filter:q | itemsPerPage: 6"  pagination-id="iati">
        <div class="project project-in-list iati green text-center">
            
            <h3>{{project.title}}</h3>
            <p>
                <span>COUNTRY:</span> <br>
                {{project.country}} <br>
                <span>SECTOR:</span> <br>
                {{project.sector}} <br>
                <span>BUDGET:</span> <br>
                {{project.budget}} <br>
                <span>START DATE:</span> <br>
                {{project.start_date}} <br>
            </p>

        </div>
    </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center-not-xs">
    <dir-pagination-controls pagination-id="iati"></dir-pagination-controls>
  </div>
</div>