<div class="row">
    <ul dnd-list="vm.projects">
        <li
            class="col-md-4" 
            dir-paginate="project in vm.projects | filter:q | itemsPerPage: 6"  
            pagination-id="iati"
            dnd-draggable="project"
            dnd-effect-allowed="copy"
            dnd-copied="vm.copiedProject($index)" 
            ng-class="{'selected': models.selected === item}">
            <div class="project project-in-list iati green text-center">
                
                <h3>{{project.title}}</h3>
                <p>
                    <span>COUNTRY:</span> <br>
                    {{project.country}} <br>
                    <span>SECTOR:</span> <br>
                    {{project.sector}} <br>
                    <span>BUDGET:</span> <br>
                    {{project.budget}} <br>
                    <span>START DATE:</span> <br>
                    {{project.start_date}} <br>
                </p>

            </div>
        </li>
    </ul>
</div>

<div class="row">
  <div class="col-xs-12 text-center-not-xs">
    <dir-pagination-controls pagination-id="iati"></dir-pagination-controls>
  </div>
</div>