<a class="presentation-wrapper {{presentation.status}}" ui-sref="edit-presentation({ presentation_id : presentation.id })">
  <div class="presentation">
    <div class="presentation__name">
      {{ presentation.name }}
    </div>
    <div class="presentation__meta">
      Edit presentation <br>
      Last updated: {{presentation.updated_at | date:"dd/MM/yyyy"}}
    </div>
  </div>
</a>

<div class="presentation-toolbar text-center">
  <a ui-sref="edit-presentation({ presentation_id : presentation.id })"><img src="/static/images/icon-edit.png" /></a>
  <a ui-sref="preview-presentation({ presentation_id : presentation.id })"><img src="/static/images/icon-play.png" /></a>
  <!-- <a ng-click="vm.duplicatePresentation(presentation.id)"><img src="/static/images/icon-duplicate.png" /></a> -->
  <!-- <a ng-click="vm.downloadPresentation(presentation.id)"><img src="/static/images/icon-download.png" /></a> -->
  <a 
    ng-confirm-click="This will delete the presentation and cannot be reversed. Are you sure?"
    confirmed-click="vm.deletePresentation(presentation.id)"><img src="/static/images/icon-trash.png" /></a>
</div>