<div id="new_presentation">
  <div class="top-header white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Preview presentation not implemented yet.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row green">
    <div class="col-sm-12">
      <div class="container">
          
          <form role="form" ng-submit="vm.submit()">
            <div class="form-group">
              <label for="presentation__content">To do</label>

              <a ui-sref="edit-presentation({ presentation_id : vm.presentationId })"><h3>Back to edit presentation</h3></a>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>



