<div class="row">
    <ul dnd-list="vm.iatiProjects">
        <li
            class="col-md-4" 
            dir-paginate="project in vm.iatiProjects | filter:q | itemsPerPage: 6"  
            pagination-id="iati"
            data-drag="true" 
            data-jqyoui-options="{revert: 'invalid', deepCopy: true, animate: true, helper:'clone'}" 
            ng-model="project" 
            jqyoui-draggable="{placeholder:'keep'}">
            <div class="project project-in-list iati light-blue text-center">
                
                <h3>{{project.titles[0].title}}</h3>
                
                    <span>COUNTRY:</span>
                    <div ng-repeat="country in project.countries">{{country.name}}</div>
                    <span>SECTOR:</span>
                    <div ng-repeat="sector in project.sectors">{{sector.name}}</div>
                    <span>BUDGET:</span>
                    <div>{{project.totalBudget | iaticurrency :'€':0:".":"."}}</div>
                    <span>START DATE:</span>
                    <div>{{project.start_actual | date:'dd-MM-yyyy'}} </div>
            
            </div>
        </li>
    </ul>
</div>

<div class="row">
  <div class="col-xs-12 text-center-not-xs">
    <dir-pagination-controls pagination-id="iati"></dir-pagination-controls>
  </div>
</div>